.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

button {
  background-color: #61dafb;
  color: black;
  font-size: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  border-radius: 3px;
  align-self: center;
  margin-bottom: 10px;
}

.texto {
  display: flex;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/*
.botones {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
